<%= form_for(@user) do |f| %>
<% if request.post? && @user.invalid? %>
<p>
    There were the following errors:
</p>
<ul>
    <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
</ul>
<% end %>
<p>
    <%= f.label(:name) %>
    <%= f.text_field(:name, autofocus: true, placeholder: 'Name goes here') %>
</p>
<p>
    <%= f.label(:email) %>
    <%= f.text_field(:email, autofocus: true, placeholder: 'Name goes here') %>
</p>
<p>
    <%= f.label(:headline) %>
    <%= f.text_field(:headline) %>
</p>
<p>
    <%= f.label(:profile) %>
    <%= f.text_area(:profile) %>
</p>
<% if current_user.admin? %>
<p>
    <%= f.label(:admin) %>
    <%= f.check_box(:admin) %>
</p>
<% end %>
<%= f.submit %>
<% end %>
