<div>
  <h2><%= link_to(user.name, user) %></h2>
  <p><%= user.email %></p>
  <p><%= user.headline %></p>
  <p><%= user.profile %></p>
    <p> <%= edit_user_link(user) %></p>
    <p><%= delete_user_link(user) %></p>
</div>
