<!DOCTYPE html>
<html>
  <head>
    <title>Problem2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <body>
    <nav>
      <p><%= link_to('All Cameras', root_path) %></p>
      <p><%= link_to('New Cameras', new_camera_path) %></p>
    </nav>

    <p><%= flash.notice %></p>

    <%= yield %>

    </body>
</html>
