<div>
  <h2><%= link_to(hotel.name, hotel) %></h2>
  <p>By: <%= link_to(hotel.user.email, hotel.user) %></p>
  <p><%= hotel.description %></p>
  <% if hotel.street? %>
  <p>At: <%= hotel.street %> <%= hotel.city %>, <%= hotel.state %> <%= hotel.zip %> <%= hotel.country %></p>
  <% end %>
  <p><%= image_tag(hotel.photo.url(:full)) %></p>
  <% if user_signed_in? %>
    <% if hotel.user == current_user || current_user.admin? %>
    <p><%= edit_hotel_link(hotel) %></p>
    <p><%= delete_hotel_link(hotel) %></p>
    <% end %>
  <% end %>
</div>
