<%= form_for(@tweet) do |f| %>
  <p>
    <%= f.label(:title) %>
    <%= f.text_field(:title, autofocus: true, placeholder: 'Title goes here') %>
  </p>
  <p>
    <%= f.label(:body) %>
    <%= f.text_area(:body) %>
  </p>
  <p>
    <%= f.label(:location) %>
    <%= f.text_field(:location) %>
  </p>
  <%= f.submit %>
<% end %>
